body {
    margin: 0px;
    background-color: rgb(174, 130, 175);
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(121, 121, 124);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: beige;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(110, 110, 114);
}
.navbar li{
    float: left;
}